#alert-message
{
  background-color: var(--color-primary-x-light);
  color: var(--color-primary);
  position: fixed;
  top: 0;
  left: 50%;
  width: 400px;
  font-size: small;
  transform:translate(-50%);
  border-radius: 8px;
  text-align:center;
  z-index: 300;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  visibility: hidden;
  opacity: 0;
  -ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;

}
show-alert{
    visibility:visible;
    animation:fadeInOut 3s;
  }
  
  @keyframes fadeInOut{
    5%,95%{opacity:1;top:50px}
    15%,85%{opacity:1;top:30px}
  }
