body{
    height:100vh;
    margin: 0 0 0 0;
    padding:0px;
  }

#map {
    position: absolute;
    top: 0px;
    bottom: 0;
    min-height: 80vh;
    max-height: 90vh;
    min-width: 60vw;
    max-width: 80vw;
}